/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

// layers - minimal setup
#define DEFAULT 0
#define TMUX 1

/ {
    behaviors {
        // No complex behaviors needed for minimal setup
    };

    macros {
        // TMUX macros using Ctrl-Space prefix (matches your tmux config)
        tmux_new_window: tmux_new_window {
            label = "TMUX_NEW_WINDOW";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp C>;
        };

        tmux_detach: tmux_detach {
            label = "TMUX_DETACH";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp D>;
        };

        tmux_last_window: tmux_last_window {
            label = "TMUX_LAST_WINDOW";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp L>;
        };

        tmux_next_window: tmux_next_window {
            label = "TMUX_NEXT_WINDOW";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp N>;
        };

        tmux_prev_window: tmux_prev_window {
            label = "TMUX_PREV_WINDOW";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp P>;
        };

        tmux_kill_pane: tmux_kill_pane {
            label = "TMUX_KILL_PANE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp X>;
        };

        tmux_split_v: tmux_split_v {
            label = "TMUX_SPLIT_VERTICAL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LS(BSLH)>;
        };

        tmux_split_h: tmux_split_h {
            label = "TMUX_SPLIT_HORIZONTAL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp MINUS>;
        };

        tmux_pane_left: tmux_pane_left {
            label = "TMUX_PANE_LEFT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp H>;
        };

        tmux_pane_down: tmux_pane_down {
            label = "TMUX_PANE_DOWN";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp J>;
        };

        tmux_pane_up: tmux_pane_up {
            label = "TMUX_PANE_UP";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp K>;
        };

        tmux_pane_right: tmux_pane_right {
            label = "TMUX_PANE_RIGHT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp L>;
        };

        tmux_window_1: tmux_window_1 {
            label = "TMUX_WINDOW_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp N1>;
        };

        tmux_window_2: tmux_window_2 {
            label = "TMUX_WINDOW_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp N2>;
        };

        tmux_window_3: tmux_window_3 {
            label = "TMUX_WINDOW_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp N3>;
        };

        tmux_window_4: tmux_window_4 {
            label = "TMUX_WINDOW_4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp N4>;
        };

        tmux_window_5: tmux_window_5 {
            label = "TMUX_WINDOW_5";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp N5>;
        };

        tmux_command_mode: tmux_command_mode {
            label = "TMUX_COMMAND_MODE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LS(SEMI)>;
        };

        tmux_copy_mode: tmux_copy_mode {
            label = "TMUX_COPY_MODE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp SPACE>;
        };

        tmux_paste: tmux_paste {
            label = "TMUX_PASTE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp P>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |                                                               |  F6   |  F7   |  F8  |   F9  |  F10 |
            // |  =    |  1  |  2  |  3   |  4   |  5   |                                                 |  6   |   7   |   8   |  9   |   0   |   -  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                                 |  Y   |   U   |   I   |  O   |   P   |   \  |
            // |  ESC  |  A  |  S  |  D   |  F   |  G   |                                                 |  H   |   J   |   K   |  L   |   ;   |   '  |
            // |   `   |  Z  |  X  |  C   |  V   |  B   | LSHFT | LCTRL | TMUX  | | LGUI  | RCTRL | RSHFT |  N   |   M   |   ,   |  .   |   /   | PGUP |
            // | F11   | HOME| END | LEFT | RIGHT|      | BSPC  | DEL   | LALT  | | RALT  | RET   | SPACE |      |  UP   | DOWN  |  [   |   ]   | F12  |

            bindings = <
            &kp F1         &kp F2   &kp F3      &kp F4      &kp F5                                                                                         &kp F6  &kp F7      &kp F8      &kp F9      &kp F10
            &kp EQUAL      &kp N1   &kp N2      &kp N3      &kp N4      &kp N5                                                                     &kp N6  &kp N7  &kp N8      &kp N9      &kp N0      &kp MINUS
            &kp TAB        &kp Q    &kp W       &kp E       &kp R       &kp T                                                                      &kp Y   &kp U   &kp I       &kp O       &kp P       &kp BSLH
            &kp ESC        &kp A    &kp S       &kp D       &kp F       &kp G                                                                      &kp H   &kp J   &kp K       &kp L       &kp SEMI    &kp SQT
            &kp GRAVE      &kp Z    &kp X       &kp C       &kp V       &kp B   &kp LSHFT   &kp LCTRL   &mo TMUX   &kp LGUI  &kp RCTRL &kp RSHFT   &kp N   &kp M   &kp COMMA   &kp DOT     &kp FSLH    &kp PG_UP
            &kp F11        &kp HOME &kp END     &kp LEFT    &kp RIGHT           &kp BSPC    &kp DEL     &kp LALT   &kp RALT  &kp RET   &kp SPACE           &kp UP  &kp DOWN    &kp LBKT    &kp RBKT    &kp F12
            >;
        };

        tmux_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // | BOOT  | BT1 | BT2 | BT3 | BT4  |                                                               | VOL-  | VOL+  | PREV | NEXT | PLAY |
            // | =     | WIN1| WIN2| WIN3| WIN4 | WIN5 |                                                 | 6    | 7     | 8     | 9    | 0    | -    |
            // | TAB   | NEW | PREV| NEXT| LAST | DETACH|                                                | COPY | PASTE | UP    | CMD  | P    | \    |
            // | ESC   | KILL| ←   | ↓   | ↑    | →    |                                                 | H    | J     | K     | L    | ;    | '    |
            // | `     | Z   | X   | C   | VSPL | HSPL | LSHFT| LCTRL| ___  | | LGUI | RCTRL| RSHFT| N    | M     | ,     | .    | /    | PGUP |
            // | BOOT  |HOME |END  |LEFT |RIGHT |      | BSPC | DEL  | LALT | | RALT | RET  | SPACE|      | UP    | DOWN  | [    | ]    | PGDN |

            bindings = <
            &bootloader    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3                                                                                                    &kp C_VOL_DN    &kp C_VOL_UP    &kp C_PREV      &kp C_NEXT      &kp C_PP
            &trans         &tmux_window_1  &tmux_window_2  &tmux_window_3  &tmux_window_4  &tmux_window_5                                                                  &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &trans
            &trans         &tmux_new_window &tmux_prev_window &tmux_next_window &tmux_last_window &tmux_detach                                                            &tmux_copy_mode &tmux_paste     &kp UP          &tmux_command_mode &kp P        &trans
            &trans         &tmux_kill_pane &tmux_pane_left &tmux_pane_down &tmux_pane_up   &tmux_pane_right                                                             &kp H           &kp J           &kp K           &kp L           &trans          &trans
            &trans         &trans          &trans          &trans          &tmux_split_v   &tmux_split_h   &trans      &trans      &trans      &trans      &trans      &trans      &kp N           &kp M           &trans          &trans          &trans          &trans
            &bootloader    &trans          &trans          &trans          &trans                          &trans      &trans      &trans      &trans      &trans      &trans                      &trans          &trans          &trans          &trans          &trans
            >;
        };
    };
};
